#cards {
  /* 軸 - row */
  display: flex;
  flex-wrap: wrap;
  width: 85%; /* 寬度和標頭一致 */
  margin: 0 auto; /* 置中 */
}

.card {
  box-sizing: border-box;
  /* 卡片在容器裡的排版 占比例 呈現 4 排 1 排 13 張 100 / 13 = 7 */
  flex: 7% 1 1; 
  /* flex-basis: 在容器裡所佔比例; flex-grow: 是否留有剩餘空間; flex-shrink: 空間不夠是否收縮;*/
  height: 8vw; /* 8% 視窗大小 */
  border: 2px solid #e0e0e0;
  margin: 2px;  
  /* 卡片元素內部排版 卡片內數字 2 個 1 張圖片 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self: center; /* 主要軸COLUMN橫向置中 */
}

.card p {
  margin: 3px;
  font-size:  10px;
}

.card p:last-child { /* 第二個P */
 transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;  
  align-items: flex-end;
  width: 85%;
}

#header .title{
  display: flex;
  width: 100%;  
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

.wrong {
  animation: wrongAnimation 0.2s; /* 一次0.2秒 */
  animation-iteration-count: 5; /* 重複5次 */
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/* Game finished */
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: rgba(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed > p {      /* completed底下的p元素 */
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed > p:first-child { /* completed底下的第一個元素 */
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}
